@page "/division"
@inject HttpClient Http

<MudContainer MaxWidth="MaxWidth.ExtraExtraLarge">
    <h3 class="m-3 ms-0">Division Management</h3>
</MudContainer>

<table class="table">
    <thead>
        <tr>
            <th>Name</th>
           
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var div in Divisions)
        {
            <tr>
                <td>@div.Name</td>
             
                <td>
                    <button class="btn btn-primary"><i class="oi oi-pencil"></i></button>
                </td>
            </tr>
        }
    </tbody>
</table>

@code {
    private static List<DDivisionT> Divisions = new List<DDivisionT>();

    //first rendered of the page
    protected override async Task OnInitializedAsync()
    {
        var result = await Http.GetFromJsonAsync<List<DDivisionT>>("api/DDivision");
        if (result != null)
            Divisions = result;
    }

}
